/* Fonts: */
@font-face {
	font-family: carmela;
	src: url(../assets/carmela.ttf);
}
@font-face {
	font-family: frankruehl;
	src: url(../assets/frankruehlclm-medium-webfont.woff);
}

/* General elements */
body {
	background-color: #edf7f2;
	font-family: carmela;
	direction: rtl;
	margin:0;
	padding:0;
}



/* Vote note and counters text */
/*******************/
/* Center Elements */
/*******************/

#note {
	width: 208px;
	height: 296px;
	background-color: white;
	outline-style: solid;
	outline-width: 1px;
	box-shadow: 0px 0px 10px;
	position: absolute;
	top: 130px;
	left: 50%;
	margin-right: -50%;
	/*-webkit-transform: translate(-50%, -50%); */
	transform: translate(-50%, 0);
}

#note > input,
#note > textarea {
	font-family: frankruehl;
	width: 200px;
	direction: rtl;
	position: absolute;
	text-align: center;
	border-style: none;
  	overflow: hidden;
}

#note > *:focus {
	outline: 0;
}

#noteTitle {
	font-size: 120px;
	top: 20%;
	left: 4px;
}

#noteSubtitle {
	font-size: 25px;
	bottom: 10px;
	resize: none;
	left: 2px;
}

#note:hover {
	box-shadow: 0px 0px 10px;
}

#note:active {
	box-shadow: 0px 0px 0px;
}

.noteHint {
	position: absolute;
	top: 90px;
	left: 50%;
	transform: translate(-50%);
	color: white;
}

#votesNumText {
	font-size: 48px;
	/*display: none; -  Used for jQuery fade in. We'll remove for now... */
	position: absolute;
	top: 500px;
	left: 50%;
	transform: translate(-50%,0);
	color: white;
}

#kolotBakalpi {
	font-size: 30px;
	position: absolute;
	top: 550px;
	left: 50%;
	transform: translate(-50%,0);
	color: white;
}

#votesPerSecText {
	font-size: 14px;
	position: absolute;
	top: 585px;
	left: 50%;
	transform: translate(-50%,0);
	color: #6fcaff;
}

/*********************/
/* Generator buttons */
/*********************/

#generators {
	position: absolute;
	top: 150px;
	left: 0%;
  /*  Prevents scrolling outside of page size */
  overflow: hidden;
}

.genBtn {
	background: linear-gradient(#a1cfe5, #65a8c9);
	width: 350px;
	height: 65px;
	left: -100%;
	cursor: pointer;
	position: relative;
	color: grey;
}

/* Button color when is purchasable */
.genBtnAvailable {
	color: white;
}

.genBtn > * {
	position: absolute;
}

.genBtnPrice {
	font-size: 24px;
	top: 5px;
	right: 70px;
}

.genBtnDesc {
	font-size: 14px;
	top: 35px;
	right: 70px;
	line-height: 90%;
	left: 50px;
}

.genBtnLvl {
	font-size: 72px;
	top: -5px;
	left: 27px;
	opacity: 0.5;
}

.genBtnSummary {
	background-color: black;
	opacity: 0.75;
	color: white;
	width: 285px;
	height: 65px;
	left: 0%;
	text-align: center;
	display: none;
}

.genBtnSummary > p {
	position: relative;
	top: 10px;
}

.genBtn:hover > .genBtnSummary {
	display: inline;
}

/*************/
/* Upgraders */
/*************/

#upgrades {
	background-color: #d1d6d3;
	position: absolute;
	right: 0%;
	top: 122px;
	height: 510px;
	border-radius: 25px 0px 0px 25px;
	border: 3px solid #959595;
	width: 315px;
	border-right-style: none;
	padding-top: 18px;
	box-shadow: 0 0 10px 2px;
}

.upgrade {
	height: 47px;
	width: 290px;
	background-color: white;
	margin-top: 14px;
	margin-right: 14px;
	border-radius: 9px;
}

.upgrade > div {
	position: absolute;
	font-size: 15px;
	padding-top: 5px;
	margin-right: 26px;
	margin-left: 4px;
}

.upgrade.deactivated {
  color: grey;
}

.upgrade.activated:hover {
  background-color: #EFED4A;
}

.upgrade.activated:active {
  background-color: white;
}

/*
First text div under upgrade button is the bolded price
*/
.upgrade > div > div:first-child {
	font-weight: bold;
	margin-bottom: 8px;
}


.upgrade > img {
	position: absolute;
	margin-top: -5px;
	margin-right: -85px;
	height: 55px;
	-webkit-filter: drop-shadow(-3px 0px 3px rgba(0, 0, 0, 0.4));
}
