/*******************/
/* Generators area */
/*******************/

#generators {
  top: 50px;
  position: relative;
}

.generator {
  height: 85px;
  width: 300px;
  background: linear-gradient(#a1cfe5, #65a8c9);
  box-shadow: 14px -3px 39px -1px rgba(0,0,0,0.75);
  color: white;
  transform: rotate(15deg) translate(-91px, -7px);
  position: absolute;
  /* left: 0; */
  left: -245px;
}

.generator > img {
  /* Get the button size */
  height: inherit;
}

/* Generator's name */
.generator > div:nth-child(2) {
  position: absolute;
  top: 11px;
  right: 91px;
  font-size: 30px;
}

/* Contains the price in notes */
.generator > div:last {
  position: absolute;
  bottom: 7px;
  right: 91px;
}

.generator > span {
  font-size: 21px;
  position: absolute;
  bottom: 7px;
  right: 91px;
}

.generator > .note {
  transform: scale(0.115) rotate(5deg);
  top: -86px;
  right: 52px;
}

.generator > .overlay {  
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.3;
}

.generator.available:hover {
  cursor: pointer;
  cursor: hand;
}


/******************/
/* Note Toss Zone */
/******************/

#noteTossZone {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 275px;
  overflow: hidden;
  pointer-events: none;
}
