/* Fonts: */
@font-face {
  font-family: carmela;
  src: url(../assets/carmela.ttf);
}
@font-face {
  font-family: frankruehl;
  src: url(../assets/frankruehlclm-medium-webfont.woff);
}

/* General elements */
body {
  font-family: carmela;
  direction: rtl;
  background: url(../assets/bg.svg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  overflow: hidden; // Prevent scrollbars
}



/* Vote note and counters text */
/*******************/
/* Center Elements */
/*******************/

#note {
  width: 208px;
  height: 296px;
  background-color: white;
  outline-style: solid;
  outline-width: 1px;
  box-shadow: 0px 0px 10px;
  position: absolute;
  top: 85px;
  left: 50%;
  margin-right: -50%;
  /*-webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, 0);
}

#note > input,
#note > textarea {
  font-family: frankruehl;
  width: 200px;
  direction: rtl;
  position: absolute;
  text-align: center;
  border-style: none;
  overflow: hidden;
}

#note > *:focus {
  outline: 0;
}

#noteTitle {
  font-size: 120px;
  top: 20%;
  left: 4px;
}

#noteSubtitle {
  font-size: 25px;
  bottom: 10px;
  resize: none;
  left: 2px;
}

#note:hover {
  box-shadow: 0px 0px 10px;
}

#note:active {
  box-shadow: 0px 0px 0px;
}

.noteHint {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%);
  color: white;
}

#votesNumText {
  font-size: 48px;
  position: absolute;
  top: 410px;
  left: 50%;
  transform: translate(-50%,0);
  color: white;
}

#kolotBakalpi {
  font-size: 30px;
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translate(-50%,0);
  color: white;
}

#votesPerSecText {
  font-size: 14px;
  position: absolute;
  top: 495px;
  left: 50%;
  transform: translate(-50%,0);
  color: #6fcaff;
}

/***************/
/* Level Title */
/***************/

#levelTitle {
  position: absolute;
  top: 560px;
  left: 50%;
  transform: translate(-50%,0);
  text-align: center;
  color: white;
}

#levelTitle > div:first-child {
  font-size: 35px;
  font-style: italic;
}

#levelTitle > div:last-child {
  font-size: 14px;
  color: #6fcaff;
}

/*********************/
/* Generator buttons */
/*********************/

#generators {
  position: absolute;
  top: 65px;
  left: 0%;
  height: 810px;
  
  /* Prevents scrolling outside of page size */
  overflow-x: hidden;
  /* Allow scrolling when we have too many generators */
  overflow-y: auto;
}

.genBtn {
  background: linear-gradient(#a1cfe5, #65a8c9);
  width: 350px;
  height: 58px;
  left: -100%;
  cursor: pointer;
  position: relative;
  color: grey;
  display: none;
}

/* Button color when is purchasable */
.genBtnAvailable {
  color: white;
}

.genBtn > * {
  position: absolute;
}

.genBtnPrice {
  font-size: 16px;
  font-weight: bold;
  top: 7px;
  right: 70px;
}

.genBtnDesc {
  font-size: 14px;
  top: 28px;
  right: 70px;
  line-height: 90%;
  left: 50px;
}

.genBtnLvl {
  font-size: 72px;
  top: -5px;
  left: 27px;
  opacity: 0.5;
  transform: translate(-40%,0);
}

.genBtnSummary {
  background-color: black;
  opacity: 0.75;
  color: white;
  width: 285px;
  height: 65px;
  left: 0%;
  text-align: center;
  display: none;
}

.genBtnSummary > p {
  position: relative;
  top: 10px;
}

.genBtn:hover > .genBtnSummary {
  display: inline;
}

/*************/
/* Upgraders */
/*************/

#upgrades {
  background-color: #d1d6d3;
  position: absolute;
  right: 0%;
  top: 65px;
  height: 510px;
  border-radius: 25px 0px 0px 25px;
  border: 3px solid #959595;
  width: 350px;
  border-right-style: none;
  padding-top: 18px;
  box-shadow: 0 0 10px 2px;
}

.upgrade {
  margin-top: 14px;
}

.upgrade > div {
  position: absolute;
  height: 47px;
  width: 320px;
  background-color: white;
  border-radius: 9px;
  font-size: 15px;
  padding-top: 5px;
  margin-right: 14px;
  margin-left: 4px;
}

.upgrade.deactivated {
  color: grey;
}

.upgrade.activated > div:hover {
  background-color: #EFED4A;
}

.upgrade.activated > div:active {
  background-color: white;
}

.upgrade > div > div {
  margin-right: 38px;
}

/*
First text div under upgrade button is the bolded price
*/
.upgrade > div > div:first-child {
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 3px;
}

.upgrade > img {
  position: absolute;
  margin-top: -2px;
  margin-right: -70px;
  height: 56px;
  -webkit-filter: drop-shadow(-3px 0px 3px rgba(0, 0, 0, 0.4));
}

/**********/
/* Footer */
/**********/

#footer {
  position: fixed;
  bottom: 0;
  right: 0%;
  padding-right: 10px;
  background-color: orange;
  width: 100%;
  text-align: center;
}

#footer > span {
  padding-left: 150px;
  padding-right: 150px;
}
