div.main.left
  div#generators

div.main.middle

  div#votingBox(style="display: none")
    img(src="assets/votingBox.png")
    div
      div 48,032
      div קולות בקלפי
      div (324,234 קולות לשנייה)

  div#noteDropZone
    
  div#noteTossZone

  div.note#mainNote
    input(type="text", maxlength=3)
    textarea(rows=2, maxlength=28)

  div#hintBox(style="display: none")

  div#clickAlerts

div.main.right
