div.main.left
div.main.middle
  div#note
    input(type="text", maxlength=3)
    textarea(rows=2, maxlength=28)

  div#votingBox
    img(src="assets/votingBox.png")
    div
      div 48,032
      div קולות בקלפי
      div (324,234 קולות לשנייה)
div.main.right