div#center
  div.noteHint#hintBox(style="display: none")

  div#note(style="display: none")
    input#noteTitle(type="text", maxlength=3)
    textarea#noteSubtitle(rows=2, maxlength=28)

  div#votesNumContainer(style="display: none")
    div#votesNumText 0
    div#kolotBakalpi קולות בקלפי

  div#votesPerSecText(style="display: none") (0 קולות לשניה)
  div#levelTitle(style="display: none")
    div
    div

div#generators

div#upgrades(style="display: none")

div#footer
  span המרוץ לראשות
  span= "גרסא " + version
  span נכתב ע"יFinn108 & nice-shot
